*body {
    font-family: 'Roboto Mono', monospace;
}
#nombre {
    font-style: italic;
    font-size: -webkit-xxx-large;
    margin: 5%;
}
.row justify-content-end {
    line-height: 6;
}
#myImg {
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {
    opacity: 0.7;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 50px;
}
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  .modal-content {
    width: 100%;
  }
}
#navbar-example2{
    margin: 0% !important;
    grid-template-columns: repeat(12, 1fr);
    position: fixed;
    width: 100%;
    z-index: 999;
}
#navbar-example2 > ul {
    grid-column: 3/9;
    display: flex;
    justify-content: space-around;
}
.scrollspy-example bg-light {
    margin: auto;
    width: 100%;
}
#scrollspyHeading1, #scrollspyHeading2, #scrollspyHeading3, #scrollspyHeading4, #scrollspyHeading5, #scrollspyHeading6, #scrollspyHeading7 {
    height: 90vh;
}
div > .card-header {
    margin-top: 6%;
} 
#scrollspyHeading6 > .card-body {
    margin: auto;
}
#scrollspyHeading6 > div > section {
    width: 300px; 
    text-align: center; 
    display: inline-block;
    border-radius: 15px;
    margin: 10px;
}
#myTabContent {
    margin: 2% 5%;
}
li {
    --bs-nav-link-color: #33FFAC;
}
li:hover {
    --bs-nav-link-hover-color: #25D58D;
}